<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="bg"></div>

    <form action="/" method="POST">
        <div class="hello">
            <h1>Hello!</h1>
            <h2>Enter your Login Credentials</h2>
        </div>
        <div class="hello">{{message}}</div>
        <div class="form-field">
            <input type="text" placeholder="Username" name='username' required />
        </div>

        <div class="form-field">
            <input type="password" placeholder="Password" name='password' required />
        </div>

        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
    <!-- partial -->

</body>

</html>